extends navbar_run
block content
  script().
    $(document).ready(function () {
      var runTable = $('#ar').DataTable({
        "dom": "<'row'<'col'rt>> <'row'<'col'i><'col'p><'col'l>>",
        "columns": [
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null
        ],
        "order": [[0,"asc"]]
      });

      //allow search bar to filter
      $('#searchText').keyup(function(){
        runTable.search($(this).val()).draw();
      });
    });
  .skyseq-data-container
    table#ar.table.table-hover
      thead
        tr
          th.text-center
            H4 Isolate
          th.text-center
            H4 Gene
          th.text-center
            H4 Database
          th.text-center
            H4 Coverage
          th.text-center
            H4 Identity
          th.text-center
            H4 Contig
          th.text-center
            H4 Start
          th.text-center
            H4 End
      tbody 
        each gene, i in genes
          tr
            td.text-center
              =gene.ISOID
            td.text-center
              =gene.GENE
            td.text-center
              =gene.DATABASE
            td.text-center
              =gene.COVERAGE
            td.text-center
              =gene.IDENTITY
            td.text-center
              =gene.CONTIG
            td.text-center
              =gene.GSTART
            td.text-center
              =gene.GEND
