extends main_layout

block content
  .container
    table.table.table-striped
      thead
        tr
          th 
            H4 Date
          th 
            H4 Machine
      tbody 
      each run, i in runs
        tr
          td
            a(href="/date/" + run.DATE)
              button.btn.btn-dark(type="button")= run.DATE
          td
            a(href= "/machine/" + run.MACHINE) 
              button.btn.btn-dark(type="button")= run.MACHINE
          td 
            if run.FASQC
              a(href="/results/"+run.MACHINE+"_"+run.DATE+"/multiqc.html") 
                button.btn.btn-success(type="button") FastQC
            else 
              a(href="#") 
                button.btn.btn-light(type="button") FastQC
          td 
            a(href="#") 
              button.btn.btn-light(type="button") Kraken
          td 
            if run.STATS
              a(href="/stats/"+run.MACHINE+"_"+run.DATE) 
                button.btn.btn-success(type="button") Run Statistics
            else
              a(href="#") 
                button.btn.btn-light(type="button") Run Statistics
          td 
            a(href="/status/"+run.MACHINE+"_"+run.DATE) 
              button.btn.btn-info(type="button") Show
          td 
            a(href="#") 
              button.btn.btn-info(type="button") Edit
          td
            a(href="/delete/"+run.MACHINE+"/"+run.DATE)
              button.btn.btn-danger(type="button") Delete
