extends navbar

block content
  div(style='margin:50px')
    .row(style='margin-bottom:20px')
      .col-sm-6
        .card.text-center
          .card-block(style='margin-bottom:10px')
            h4.card-title Extractions
            p.card-text DNA extraction quality control tracking.
            a.btn.btn-primary(href='#') New Extraction
            a.btn.btn-primary(href='#',style='margin-left:5px') Completed Extractions
      .col-sm-6
        .card.text-center
          .card-block(style='margin-bottom:10px')
            h4.card-title Library Preps
            p.card-text Sequencing library preparation quality control tracking.
            a.btn.btn-primary(href='#') New Library Prep
            a.btn.btn-primary(href='#',style='margin-left:5px') Completed Library Prep
    .row(style='margin-bottom:20px')
      .col-sm-6
        .card.text-center
          .card-block(style='margin-bottom:10px')
            h4.card-title Sequencing Runs
            p.card-text Sequencing data quality control tracking.
            a.btn.btn-primary(href='#') New Run
            a.btn.btn-primary(href='seqruns',style='margin-left:5px') Completed Runs
            a.btn.btn-primary(href='seqruns',style='margin-left:5px') Scan for Runs
      .col-sm-6
        .card.text-center
          .card-block(style='margin-bottom:10px')
            h4.card-title Reagent Library
            p.card-text Reagent quality control tracking.
            a.btn.btn-primary(href='add_kit') Add Reagent Kit
            a.btn.btn-primary(href='#',style='margin-left:5px') View Library
    .row(style='margin-bottom:20px')
      .col-sm-6
        .card.text-center
          .card-block(style='margin-bottom:10px')
            h4.card-title Job Queue
            p.card-text View the processes that have been submitted to the cloud.
            a.btn.btn-primary(href='job_queue') View Queue
      .col-sm-6
        .card.text-center
          .card-block(style='margin-bottom:10px')
            h4.card-title Antimicrobial Resistance
            p.card-text View the AR database.
            a.btn.btn-primary(href='#') View Data
