extends main_layout_queue
block content
  table.table.table-striped
    thead
      tr
        th.text-left
          H4 FastQC Queue
        th.text-center
          H6 Run ID
        th.text-center
          H6 Isolate ID
        th.text-center
          H6 Status
    tbody
      each job,i in fastqc
        tr
          td.text-center
            
          td.text-center
            =job[1]
          td.text-center
            =job[2]
          td.text-center
            =job[3]
    thead
      tr
        th.text-left
          H4 Kraken Queue
        th.text-center
          H6 Run ID
        th.text-center
          H6 Isolate ID
        th.text-center
          H6 Status
    tbody
      each job,i in kraken
        tr
          td.text-center
            
          td.text-center
            =job[1]
          td.text-center
            =job[2]
          td.text-center
            =job[3]
    thead
      tr
        th.text-left
          H4 Bucky-TR Queue
        th.text-center
          H6 Run ID
        th.text-center
          H6 Status
    tbody
      each job,i in bucky
        tr
          td.text-center
            
          td.text-center
            =job[1]
          td.text-center
            =job[2]
