extends main_layout_run

block content
  .container
    table.table.table-striped
      thead
        tr
          th.text-center 
            H4 Isolate
          th.text-center
            H4 FastQC
          th.text-center
            H4 Kraken 
          th.text-center
            H4 Typing/Resistance
          th.text-center
            H4 Read 1 Path
          th.text-center
            H4 Read 2 Path
      tbody 
      form(action='/status/'+ run_id ,method='post',id='job')
        each isolate, i in isolates
          tr
            td.text-center
              =isolate.ISOID
            td.text-center
              if isolate.STATUSCODE[0] === '1'
                h5 Submitted
              else if isolate.STATUSCODE[0] === '2'
                a(href="#") 
                  button.btn.btn-light(type="button") Results
              else
                div.checkbox
                  input.checkbox-input(type="checkbox",name='fastqc_check',)
            td.text-center
              if isolate.STATUSCODE[1] === '1'
                h5 Submitted
              else if isolate.STATUSCODE[1] === '2'
                a(href="#") 
                  button.btn.btn-light(type="button") Results
              else
                div.checkbox
                  input.checkbox-input(type="checkbox",name='kraken_check',)
            td.text-center
              if isolate.STATUSCODE[2] === '1'
                h5 Submitted
              else if isolate.STATUSCODE[2] === '2'
                a(href="#") 
                  button.btn.btn-light(type="button") Results
              else
                div.checkbox
                  input.checkbox-input(type="checkbox",name='typing_check',)
            td 
              =isolate.READ1
            td 
              =isolate.READ2
            td 
              a(href="#") 
                button.btn.btn-danger(type="button") Delete
