extends main_layout_run
block content
  table.table.table-striped
    thead
      tr
        th.text-center 
          H4 Isolate
        th.text-center
          H4 Total Length
        th.text-center
          H4 Number Contigs 
        th.text-center
          H4 Average Contig Length
        th.text-center
          H4 N50
        th.text-center
          H4 N Count
        th.text-center
          H4 Gaps
    tbody
      each isolate, i in isolates
        tr
          td.text-center
            =isolate.ISOID
          td.text-center
            =isolate.STATS[0]
          td.text-center
            =isolate.STATS[1]
          td.text-center
            =isolate.STATS[2]
          td.text-center
            =isolate.STATS[4]
          td.text-center
            =isolate.STATS[5]
          td.text-center
            =isolate.STATS[6]
