extends navbar

block content
  script().
    $(document).ready(function () {
      let users = JSON.parse("#{users}".replace(/&quot;/g,'"'));

      let userTable = $('#userListTable').DataTable({
        data: users,
        dom: "",
        order: [[0,"desc"]],
        columns: [
          {title: "Username"},
          {orderable:false,
            className: "text-center",
            defaultContent: "<button class='btn btn-danger' type='button'>Delete</button>"}
          ]
      });
      
      $('#searchText').keyup(function(){
        runTable.search($(this).val()).draw();
      });
      
      //delete row from serverside, when done remove the row on the page
      $('#userListTable tbody').on( 'click', 'button', function () {
        var row = userTable.row( $(this).parents('tr') );
        var data = row.data();
        if (data == 'admin') {
          alert('Cannot remove Admin account.')
          } else {
            $.post('/user_list',{username:data[0]});
            row.remove().draw();
          }
      });

    });
  .skyseq-data-container
    div(style='margin-top:20px')
      .row
        .col-sm-8
          table#userListTable.table.table-hover
