.dataTables_length label{
    display: inline-flex;
    /*width: 200px;*/
}
.dataTables_length label select{
    margin-left: 10px;
    margin-right: 10px;
}
.dataTables_length{
    float:right;
}
.dataTables_wrapper {
    display: flex;
    flex-wrap: wrap;

}
.dt-buttons{
    padding-top:10px;
    padding-bottom:10px;
    flex-wrap: wrap;
}
.dataTables_info{
padding-top: 0.5em !important;
}
.container{
  padding-bottom: 100px;
}
.row{
  width:100% !important;
}
.table.dataTable{
  border-collapse: collapse !important;
}
h5 {
  padding-top: 0.35em;
}
.octo-data-container{
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
